# keep all dist files
!dist
!dist/*
!dist/**/*
dist/**/*.json

# yarn v2
.yarn/**/*.tgz
.yarn/**/*.gz
.yarn/**/*.zip

node_modules
.deploy_git
*.log
private.*
*.private.*
*.zip
*.rar
*.xz
*.tar
*.gz
tmp
/docs
/CHANGELOG.md