<%- htmltag('style', 'css/ribbon.css') %>
<!-- TOP RIGHT RIBBON: START COPYING HERE -->
<a
  class="github-fork-ribbon right-top"
  href="https://github.com/dimaslanjaka/safelink"
  target="_blank"
  rel="nofollow noopener noreferer"
  data-ribbon="Fork me on GitHub"
  title="Fork me on GitHub"
  >Fork me on GitHub</a
>
<!-- TOP RIGHT RIBBON: END COPYING HERE -->

<div class="mb-4"><%- markdown('../README.md') %></div>

<hr />

<div class="mb-4">
  <h2>Result Above Examples</h2>
  <div class="mb-2">
    <b id="query-url">Query URL Resolver Samples</b>
    <table class="table">
      <tr>
        <td>To Encode</td>
        <td><a href="?url=https://webmanajemen.com"></a></td>
      </tr>
      <tr>
        <td>Decode base64</td>
        <td><a href="?url=aHR0cHM6Ly93ZWJtYW5hamVtZW4uY29t"></a></td>
      </tr>
      <tr>
        <td>Decode AES</td>
        <td><a href="?url=Q2LNSrOqZbP8HLK8R2L1psx1x8CFmLIm7vKxqhswcPg="></a></td>
      </tr>
      <tr>
        <td>Decode AES using hash</td>
        <td><a href="#o=Q2LNSrOqZbP8HLK8R2L1psx1x8CFmLIm7vKxqhswcPg="></a></td>
      </tr>
      <tr>
        <td colspan="2">
          <button class="btn btn-sm btn-primary" onclick="location.href=location.pathname">Remove URL Queries</button>
        </td>
      </tr>
    </table>
  </div>

  <div class="mb-2" id="external">
    <b>External Link Samples (Hover)</b>
    <div>
      <a href="http://example.com">example</a> <a href="http://google.com">google</a>
      <a href="https://facebook.com">facebook</a>
    </div>
  </div>

  <div class="mb-2" id="internal">
    <b>Internal Link Samples (Hover)</b>
    <div>
      <a href="http://webmanajemen.com">Homepage</a>
      <a href="https://webmanajemen.com/p/search.html">Search</a>
    </div>
  </div>
</div>

<div class="mb-4">
  <table class="table" id="table">
    <tr>
      <td>global parseQuery</td>
      <td><kbd id="parseQuery"></kbd></td>
    </tr>
    <tr>
      <td>global resolveQueryUrl</td>
      <td><kbd id="resolveQueryUrl"></kbd></td>
    </tr>
  </table>
</div>
<div class="mb-4">
  <b>Current Page Script</b>
  <script
    async
    src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1165447249910969"
    crossorigin="anonymous"
  ></script>
  <!-- Responsive Horizontal -->
  <ins
    class="adsbygoogle"
    style="display: block"
    data-ad-client="ca-pub-1165447249910969"
    data-ad-slot="6376402862"
    data-ad-format="auto"
    data-full-width-responsive="true"
  ></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
  <!-- prettier-ignore-start -->
  <pre>
    <code class="language-js">
&lt;script src=&quot;dist/bundle.min.js&quot;&gt;&lt;/script&gt;
&lt;script&gt;<%= include('js/script.js') %>&lt;/script&gt;
    </code>
  </pre>
  <!-- prettier-ignore-end -->

  <ins
    class="adsbygoogle"
    style="display: block"
    data-ad-format="autorelaxed"
    data-ad-client="ca-pub-1165447249910969"
    data-ad-slot="8307991972"
  ></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
<script src="dist/bundle.js"></script>
<%- htmltag('script', 'js/script.js') %>
<link rel="stylesheet" href="node_modules/highlight.js/styles/sunburst.css" />
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"
  integrity="sha512-yUUc0qWm2rhM7X0EFe82LNnv2moqArj5nro/w1bi05A09hRVeIZbN6jlMoyu0+4I/Bu4Ck/85JQIU82T82M28w=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script>
  hljs.highlightAll();
</script>
